{% extends 'base.html.twig' %}

{% block userPage %} current_page {% endblock %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User Details</h1>

    <br>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ user }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.password }}</td>
        </tr>
        <tr>
            <th>User's latest book;</th>

            {% if (titleOfBooks and authorOfBooks) == null %}
                <td>{{ user }} hasn't got any books</td>
            {% else %}
                <td>
                    <ul>
                        {% for titleOfBook in titleOfBooks %}
                            <li style="list-style-position: inside;text-align: center">{{ titleOfBook ? titleOfBook|json_encode()}} written
                            {% for authorOfBook in authorOfBooks %}
                                by {{ authorOfBook ? authorOfBook|json_encode()|trim('"')|trim('"')}}
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </td>
            {% endif %}
        </tr>
        <tr>
            <th id="tagCenterTH">Actions</th>
            <td>
                <ul>
                    <h5><a href="{{ path('user_edit', {'id': user.id}) }}">Edit details</a></h5>

                    <hr>

                    <h5><a href="{{ path('user_ownedBooks', {'id': user.id}) }}">View Books</a></h5>

                    <hr>

                    {{ include('admin/_delete_form.html.twig') }}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <br>

    <hr id="pageHr">
    <h5><a href="{{ path('user_index') }}">Go back to the list</a></h5>

{% endblock %}
