{% extends 'base.html.twig' %}

{% block bookPage %} current_page {% endblock %}

{% block title %}Book Catalog{% endblock %}

{% block body %}
    <h1>Available books</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Barcode</th>
                <th>Author</th>
                <th>Genre</th>
                <th>StartingBid</th>
                <th>Bid</th>
                <th>BidAccepted</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.barcode }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.startingBid }}</td>
                <td>{{ book.bid }}</td>
                <td>{{ book.bidAccepted ? 'Yes' : 'No' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
