{% extends 'base.html.twig' %}

{% block bookPage %} current_page {% endblock %}
{% block booksPage %} current_page {% endblock %}

{% block title %}Book Catalog{% endblock %}

{% block body %}
    <h1>Available books</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Barcode</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Starting Bid</th>
            <th>Current Bid</th>
            <th>Bid Accepted</th>
            <th>Owner</th>
            <th>View Product</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.barcode }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>€{{ book.startingBid }}</td>
                {% if book.bid == 0 %}
                    <td id="info">No Bids </td>
                {% else %}
                    <td>€{{ book.bid }}</td>
                {% endif %}
                <td id="info">{{ book.bidAccepted ? 'Yes' : 'No' }}</td>
                <td>{{ book.user }}</td>
                <td><a href="{{ url('book_show', {'id': book.id}) }}">More Details</a> </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No books found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>

    {% if is_granted('ROLE_USER')%}

        <table class="table">
            <tbody>
            <tr style="text-align: center">
                <th>Wish to create a new Book? <a href="{{ url('book_new') }}" style="padding-left: 5rem"> Create</a></th>
            </tr>
            </tbody>
        </table>

    {% endif %}

{% endblock %}
