{% extends 'base.html.twig' %}

{% block booksPage %} current_page {% endblock %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create a new Book</h1>

    {{ form_start(form) }}
    <table class="table">
        <tbody>
        <tr>
            <th><strong>{{ form_label(form.title) }}</strong></th>
            <td>{{ form_widget(form.title) }}</td>
        </tr>
        <tr>
            <th><strong>{{ form_label(form.author) }}</strong></th>
            <td>{{ form_widget(form.author) }}</td>
        </tr>
        <tr>
            <th><strong>{{ form_label(form.barcode) }}</strong></th>
            <td>{{ form_widget(form.barcode) }}</td>
        </tr>
        <tr>
            <th><strong>{{ form_label(form.genre) }}</strong></th>
            <td>{{ form_widget(form.genre) }}</td>
        </tr>
        <tr>
            <th><strong>{{ form_label(form.startingBid) }}</strong></th>
            <td>{{ form_widget(form.startingBid) }}</td>
        </tr>
        <tr>
            <th><strong>{{ form_label(form.user) }}</strong></th>
            <td>{{ form_widget(form.user) }}</td>
        </tr>
        </tbody>
    </table>

    {{ form_row(form.save) }}

    {{ form_end(form) }}

    <br>

    <h5><a href="{{ path('book_index') }}">Go Back to the Catalog</a></h5>
{% endblock %}
