{% extends 'base.html.twig' %}

{% block booksPage %} current_page {% endblock %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create a new Book</h1>

    {{ form_start(form) }}

    <div class="newForm">
        <div class="error">
            {{ form_errors(form.title) }}
        </div>

        <strong>{{ form_label(form.title) }} :</strong>

        {{ form_widget(form.title) }}
    </div>

    <div class="newForm">
        <div class="error">
            {{ form_errors(form.author) }}
        </div>

        <strong>{{ form_label(form.author) }} :</strong>

        {{ form_widget(form.author) }}
    </div>

    <div class="newForm">
        <div class="error">
            {{ form_errors(form.barcode) }}
        </div>

        <strong>{{ form_label(form.barcode) }} :</strong>

        {{ form_widget(form.barcode) }}
    </div>

    <div class="newForm">
        <div class="error">
            {{ form_errors(form.genre) }}
        </div>

        <strong>{{ form_label(form.genre) }} :</strong>

        {{ form_widget(form.genre) }}
    </div>

    <div class="newForm">
        <div class="error">
            {{ form_errors(form.startingBid) }}
        </div>

        <strong>{{ form_label(form.startingBid) }} :</strong>

        {{ form_widget(form.startingBid) }}
    </div>

    <div class="newForm">
        <div class="error">
            {{ form_errors(form.user) }}
        </div>

        <strong>Owner :</strong>

        {{ form_widget(form.user) }}
    </div>

    <div class="newForm">
        {{ form_row(form.save) }}
    </div>


    {{ form_end(form) }}

    <br>

    <h5><a href="{{ path('all_books') }}">Go Back to the Catalog</a></h5>
{% endblock %}
