{% extends 'base.html.twig' %}

{% block booksPage %} current_page {% endblock %}

{% block title %}Question Response{% endblock %}

{% block body %}
    <h4>Do you have a response to any question on "{{ book.title }}" ? </h4>

    {#<h5> Book Title: {{ book.title }}</h5>#}
    <br>

    <table class="table">
        <tbody>
        <tr>
            <th>Title of Book</th>
            <th>Book Author</th>
        </tr>
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
        </tr>
        <tr>
            <th>Starting Bid</th>
            <th>Current Bid</th>
        </tr>
        <tr>
            <td>€{{ book.startingBid }}</td>
            <td>€{{ book.bid }}</td>

        </tr>
        <tr>
            <th>Genre</th>
            <th>Bid Accepted</th>
        </tr>
        <tr>
            <td>{{ book.genre }}</td>
            {% if book.bidAccepted == true %}
                <td>The bid was accepted</td>
            {% else %}
                <td><strong>The bid was not accepted</strong></td>
            {% endif %}
        </tr>
        </tbody>
    </table>

    <br>

    <table class="table">
        <tbody>
        <tr>
            <th>Questions</th>
            <th>Reply</th>
        </tr>
        <tr>
            {% if book.questions == null %}
            <td id="info">No Questions</td>
            {% else %}
            <ul>
                <td>
                    <ol>
                        {% for question in book.questions %}
                            <li style="list-style-position: inside;text-align: left">{{ question|json_encode()|trim('["')|trim('"]')}}</li>
                        {% endfor %}
                    </ol>
                </td>
            </ul>
            {% endif %}
        {#</tr>#}
        {#<tr>#}
            {#<th>Reply</th>#}
        {#</tr>#}
        {#<tr>#}
            <td>
                {# if there is no questions user is unable to reply #}
                {% if book.questions == null %}
                <form method="POST" style="text-align: center">
                    <textarea rows="4" name="reply" id="roleInput" placeholder="Enter Reply" disabled></textarea><br>
                    <input type="submit" value="Post Reply">
                </form>
                {% else %}
                    <form method="POST" style="text-align: center">
                        <textarea rows="4" name="reply" id="roleInput" placeholder="Enter Reply"></textarea><br>
                        <input type="submit" value="Post Reply">
                    </form>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {#<h5> If you wish to post a question about "{{ book.title }}", please fill in the form below:</h5>#}
    <br>
    <hr>

    <h4><a href="{{ url('book_index') }}">Back to Book catalog</a></h4>

{% endblock %}
