{% extends 'base.html.twig' %}

{% block booksPage %} current_page {% endblock %}

{% block title %}Book Catalog{% endblock %}

{% block body %}
    <h1>Available books</h1>

    <table class="table">
        <thead>
        <tr >
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Barcode</th>
            <th>Genre</th>
            <th>Starting Bid</th>
            <th>Current Bid</th>
            <th>Accepted</th>
           {# <th>Comments</th>
            <th>Replies</th>#}
            <th>Owner</th>
            <th id="actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><strong>{{ book.id }}</strong></td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.barcode }}</td>
                <td>{{ book.genre }}</td>
                <td><strong>€</strong> {{ book.startingBid }}</td>
                <td><strong>€</strong> {{ book.bid }}</td>
                <td>{{ book.bidAccepted ? 'Accepted' : 'Not Accepted' }}</td>
      {#          <td>
                    <ol>
                        {% for comment in comments %}
                            <li>{{ book.comment }}</li>
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    <ol>
                        {% for answer in answers %}
                            <li>{{ book.answer }}</li>
                        {% endfor %}
                    </ol>
                </td>#}
                <td>{{ book.user }}</td>
                <td>
                    <a href="{{ url('book_show', {'id': book.id}) }}">View</a>
                    {#<a href="{{ url('book_edit', {'id': book.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">No books were found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>

    <table class="table">
        <tbody>
        <tr style="text-align: center">
            <th>Wish to create a new Book? <a href="{{ url('book_new') }}" style="padding-left: 5rem"> Create</a></th>
        </tr>
        </tbody>
    </table>

{% endblock %}