{% extends 'base.html.twig' %}

{% block bookPage %} current_page {% endblock %}
{% block booksPage %} current_page {% endblock %}

{% block title %}Showing Book{% endblock %}

{% block body %}
    <h2>Details of the Book {{ book.id }}: </h2>

    <br>

    <table class="table">
    <tbody>
    {#   <tr>
           <th>Id</th>
           <td>{{ book.id }}</td>
       </tr>#}
    <tr>
        <th>Title</th>
        <td>{{ book.title }}</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>{{ book.author }}</td>
    </tr>
    <tr>
        <th>Barcode</th>
        <td>{{ book.barcode }}</td>
    </tr>
    <tr>
        <th>Genre</th>
        <td>{{ book.genre }}</td>
    </tr>
    <tr>
        <th>Owner</th>
        <td>{{ book.user }}</td>
    </tr>
    <tr>
        <th>Starting Bid</th>
        <td>€ {{ book.startingBid }}</td>
    </tr>
    <tr>
        <th>Current Bid</th>
        <td>€ {{ book.bid }}</td>
    </tr>
    <tr>
        <th>Bid Accepted</th>
        {% if book.bidAccepted == true %}
            <td>{{ book.user }} accepted the bid of<strong>: <br>€{{ book.bid }}</strong></td>
        {% else %}
            <td><strong>Bid is yet to be accepted</strong></td>
        {% endif %}
    </tr>
    <tr>
        <th id="tagCenterTH">Questions</th>
        {% if book.questions == null %}
            <td id="info">No Questions</td>
        {% else %}
            <ul>
                <td>
                    <ol>
                        {% for question in book.questions %}
                            {#index of question : question text (with [" ... "] removed ) #}
                            <li style="list-style-position: inside;text-align: left">
                                {{ question|json_encode()|trim('["')|trim('"]')}}
                                {#<span style="float: right"><a href="{{ url('book_answer', {'id': book.id ,'question': question|json_encode()|trim('["')|trim('"]')}) }}">Answer Question</a></span>#}
                            </li>
                            {#<br>#}
                        {% endfor %}
                    </ol>
                </td>
            </ul>
        {% endif %}
    </tr>
    <tr>
        <th id="tagCenterTH">Replies</th>
        {% if book.replies == null %}
            <td id="info">No Replies to any Question</td>
        {% else %}
            <ul>
                <td>
                    <ol>
                        {% for reply in book.replies %}
                            <li style="list-style-position: inside;text-align: left">
                                {{ reply|json_encode()|trim('["')|trim('"]')}}
                            </li>
                        {% endfor %}
                    </ol>
                </td>
            </ul>
        {% endif %}
    </tr>
    </tbody>

    {% if is_granted('ROLE_USER')%}
        <tr>
            <th id="tagCenterTH" style="font-size: 20px">Actions:</th>
            <td>
                <h5><a href="{{ url('book_edit', {'id': book.id}) }}">Edit</a></h5>
                <hr id="tablesHr">
                <h5><a href="{{ url('book_question', {'id': book.id}) }}">Ask Question</a></h5>
                <hr id="tablesHr">
                <h5><a href="{{ url('book_answer', {'id': book.id}) }}">Answer Question</a></h5>
                <hr id="tablesHr">

                {# if the given book is the logged in user AND it's bids havent been accepted #}
                {% if (book.bidAccepted == false) and (book.getUser() != app.user ) %}
                    <h5><a href="{{ url('book_bid', {'id': book.id}) }}">Bid on Book</a></h5>
                    <hr id="tablesHr">
                {% endif %}

                {# if the given book is the logged in user#}
                {% if book.getUser() == app.user %}
                    <h5><a href="{{ url('book_bidAccept', {'id': book.id}) }}">Accept Bid</a></h5>
                    <hr id="tablesHr">
                {% endif %}
                {{ include('book/_delete_form.html.twig') }}
            </td>
        </tr>

        </tbody>
        </table>

        <br>

        <hr id="pageHr">

        <h4><a href="{{ url('book_index') }}">Back to Catalog page</a><br></h4>
    {% else %}

        </tbody>
        </table>

        <br>

        <hr id="pageHr">

        <h4><a href="{{ url('book_index') }}">Back to Book catalog</a></h4>
    {% endif %}

{% endblock %}
